<% if @title.nil? %>
    <% @title="JobTar.com Free Job post India | Best IT/Government Jobs|Job Search" %>
<% end %>

<ul class="nav nav-pills">

  <% if false %>
  <% Job.location_type.each do |loc_name,loc_value|  %>
      <% if params[:location] == loc_value %><li class="active"><% else %><li><% end %>
        <%= link_to "#{loc_name} Jobs" , job_location_jobs_path(:location => loc_value ) %>
      </li>
  <% end %>
  <% end %>

  <% if params[:location]=="Hyderabad" %><li class="active"><% else %><li><% end %>
  <%= link_to 'Hyderabad Jobs', job_location_jobs_path(:location => "Hyderabad") %></li>

  <% if params[:location]=="Bangalore" %><li class="active"><% else %><li><% end %>
  <%= link_to 'Bangalore Jobs', job_location_jobs_path(:location => "Bangalore") %></li>

  <% if params[:location]=="Chennai" %><li class="active"><% else %><li><% end %>
  <%= link_to 'Chennai Jobs', job_location_jobs_path(:location => "Chennai") %></li>

  <% if params[:location]=="Pune" %><li class="active"><% else %><li><% end %>
  <%= link_to 'Pune Jobs', job_location_jobs_path(:location => "Pune") %></li>

  <% if params[:location]=="Mumbai" %><li class="active"><% else %><li><% end %>
  <%= link_to 'Mumbai Jobs', job_location_jobs_path(:location => "Mumbai") %></li>

  <% if params[:location]=="other" %><li class="active"><% else %><li><% end %>
  <%= link_to 'Other City Jobs', job_location_jobs_path(:location => "other") %></li>

</ul>


<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>Posting-Date</th>
    <th>Company</th>
    <th>Location</th>
    <th>Position</th>
    <th>Experience</th>
    <th>Last Date</th>
    <th>Qualification</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% if @jobs.nil? %>
<% else %>
<% @jobs.each do |job| %>
  <tr>
    <td><%= job.created_at.strftime("%d-%m-%Y") %></td>
    <td><%= job.company_name.split[0..1].join(" ") %></td>
    <td><%= job.location %></td>
    <td><%= job.position.split[0..1].join(" ") %></td>
    <td><%= job.experience %></td>
    <td><% if job.qualification.nil? %>ASAP<% else %><%= job.ad_expires_on %><% end %></td>
    <td><%= job.qualification.split[0..1].join(" ") %></td>
    <td><%= link_to 'Details', job %></td>
    <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.jobtar.com" data-text="<%= job.company_name.split[0..1].join(" ") %>" data-via="jobtar" data-count="none" data-hashtags="JOB">Tweet</a>
&nbsp;&nbsp;<%= link_to 'Tweet', job %></td>
  </tr>
<% end %>
<% end %>
  </tbody>
  </table>

<% if @jobs.nil? %>
<% else %>
      <%= will_paginate @jobs, :class => 'digg_pagination'%>
<% end %>


<br />

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

