<% @title="#{@job.company_name} Jobtar.com" %>
<% @meta_tag_desc="Find latest #{@job.company_name} #{@job.position} jobs at JobTar.com. View & Apply to Best Jobs in #{@job.company_name} #{@job.position} & top companies. Submit your resume Free & get selected" %>

<p id="notice"><%= notice %></p>

<div class="fr">
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Hiring for <%= @job.company_name %> -
  <%= @job.position %> in <%= @job.location %> for
     <%= @job.experience %>" data-via="jobtar" data-count="none" data-hashtags="JOB">Tweet</a>
  <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
</div>



<p>
  <b>Company name:</b>
  <%= @job.company_name %>
</p>
<% unless @job.company_website.empty? %>
<p>
  <b>Company website:</b>
  <%= @job.company_website %>
</p>
<% end %>
<% unless @job.position.empty? %>
<p>
  <b>Position:</b>
  <%= @job.position %>
</p>
<% end %>
<% unless @job.experience.empty? %>
<p>
  <b>Experience:</b>
  <%= @job.experience %>
</p>
<% end %>
<p>
  <b>Location:</b>
  <%= @job.location %>
</p>

<p>
  <b>Ad posting on:</b>
  <%= @job.created_at %>
</p>
<% unless @job.qualification.empty? %>
<p>
  <b>Ad expires on:</b>
  <%= @job.ad_expires_on %>
</p>
<% end %>
<% unless @job.qualification.empty? %>
<p>
  <b>Qualification:</b>
  <%= @job.qualification %>
</p>
<% end %>
<% unless @job.contact_name.empty? %>
<p>
  <b>Contact name:</b>
  <%= @job.contact_name %>
</p>
<% end %>
<% unless @job.contact_email.empty? %>
<p>
  <b>Contact email:</b>
  <%= @job.contact_email %>
</p>
<% end %>
<% unless @job.contact_number.empty? %>
<p>
  <b>Contact number:</b>
  <%= @job.contact_number %>
</p>
<% end %>
<p>
  <b>Job Summary:</b>
  <%= raw @job.responsibility %>
</p>
<% unless @job.skill.empty? %>
<p>
  <b>Skill:</b>
  <%= raw @job.skill %>
</p>
<% end %>

<%#= link_to 'Edit', edit_job_path(@job) %>
<%#= link_to 'Back', jobs_path %>
<br>
<br>
<br>
<div>
<div class="fb-comments" data-href="http://www.jobtar.com" data-width="470" data-num-posts="3"></div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



    <ul class="nav nav-pills">
    <li><a href="http://www.homelearningcollege.com"> Training courses & online learning </a></li>
    <li><a href="http://www.learningpeople.co.uk">IT & Project Management courses </a></li>
    <li><%= link_to 'Interview practice', interviewer_path %></li>
    <li><%= link_to 'Redundancy advice', redundancyadvice_path %></li>
    </ul>